{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <title>specific Page</title>

    <link rel="stylesheet" href="{% static 'css/specific.css' %}?v=16" />
  </head>
  <body>
    <div class="side">
      <div class="icons">
        <div class="logo"></div>
        <a href="{% url 'home' %}"
          ><i class="fa-solid fa-house" id="home"></i
        ></a>
        <i class="fa-solid fa-location-arrow" id="explore"></i>
        <i class="fa-solid fa-square-plus" id="create"></i>
        <i class="fa-solid fa-bell" id="bell"></i>
        <i class="fa-solid fa-message" id="msg"></i>
      </div>
    </div>
    <div class="main">
      <div class="search">
        <input type="text" class="input" placeholder="Search for ideas" />
        <a id='user' href="{% url 'user-details' %}"><div class="letter">{{ letter }}</div></a>
      </div>
      <div class="pics">
        <div class="specific">
          <div class="inner">
            <div class="head">
              <div class="leftside">
              <form action="{% url 'like' pin.id %}" method="POST" id="like-button">
                {% csrf_token %}
                <button type="submit" style="background:none;border:none; cursor: pointer;">
                  {% if user_liked %}
                    <i class="fa-solid fa-heart" style="color:red; font-size:24px; "></i>
                  {% else %}
                    <i class="fa-regular fa-heart" style="color:red; font-size:24px;"></i>
                  {% endif %}
                </button>
                <h3>{{ likes }}</h3>
              </form>

                <i class="fa-regular fa-message" id="msg-scroll"></i>
                <a href="{% url 'download_pin' %}?url={{ pin.image_url }}" style="color:black">
                  <i class="fa-solid fa-download" id="download" style="cursor: pointer;"></i>
                </a>
              </div>
              <div class="rightside">
                <form action="{% url 'toggle_save' pin.id %}" method="post" class="saveform">
                  {% csrf_token %}
                  <button type="submit" id="save" class="notranslate">
                    {% if pin.id in saved_pin_ids %}
                      Unsave
                    {% else %}
                      Save
                    {% endif %}
                  </button>
                </form>
              </div>
            </div>
            <div
              class="pic"
              style="background-image: url('{{ pin.image_url }}');"
            ></div>
            <div class="comments">
              <p>{{ comment_count }} Comment{{ comment_count|pluralize }}</p>
            
              {% for comment in comments %}
                <div class="comment">
                  <div class="circle">{{  comment.user.username|first|upper}}</div><h4>{{ comment.user.username }} </h4> <p>{{ comment.text }}</p>
                </div>
              {% endfor %}
            </div>

            <form method="POST" action="{% url 'comments_views' pin.id %}" id="send-form" >
              {% csrf_token %}
              <div class="msg">
                <input type="text" name="comment" placeholder="Add a Comment" required>
                <div class="send">
                  <button type="submit" style="background: none; border: none;">
                    <i class="fa-regular fa-paper-plane" id="send-btn"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="right">
          {% for pin in related_pins|slice:":6" %}
          <a href="{% url 'specific' pin.id %}">
            <div
              class="image-box"
              style="background-image: url('{{ pin.image_url }}');"
            ></div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="down">
      {% for pin in related_pins|slice:"6:" %}
      <a href="{% url 'specific' pin.id %}">
        <div
          class="image-box"
          style="background-image: url('{{ pin.image_url }}');"
        ></div>
      </a>
      {% endfor %}
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const msgBtn = document.getElementById("msg-scroll");
      msgBtn.addEventListener("click", function () {
        window.scrollTo({
          top: window.innerHeight * 0.6,
          behavior: "smooth"
        });
      });
    });
  </script>
</html>
