{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <title>User-Details Page</title>

    <link rel="stylesheet" href="{% static 'css/user_details.css' %}?v=14" />
  </head>
  <body>
    <div class="side">
      <div class="icons">
        <div class="logo"></div>
        <a href = "{% url 'home' %}"><i class="fa-solid fa-house" id="home"></i></a>
        <i class="fa-solid fa-location-arrow" id="explore"></i>
        <i class="fa-solid fa-square-plus" id="create"></i>
        <i class="fa-solid fa-bell" id="bell"></i>
        <i class="fa-solid fa-message" id="msg"></i>
      </div>
    </div>
    <div class="main">
        <div class="search">
          <input type="text" class="input" placeholder="Search for ideas" />
          <a href="{% url 'logout' %}"><button id="logout">Logout</button></a>
        </div>
    </div>
    <div class="main2">
      <div class="left-div">
        <h1>Your saved ideas</h1>
        <div class="created">

          <p>Pins</p>
          <button id="created">Show Created Pins</button>
        </div>

      </div>
      <div class="right-div">
        <div class="circle">
          <a id='user'><div class="letter">{{ letter }}</div></a>
        </div>
        <div class="content">
            <h3>{{ email }}</h3>
            <div class="follow">
              <p>0 Following</p>
              
            </div>
        </div>
        
      </div>
    </div>
    <div class="down">
  
      <div id="saved-pins" class="pin-grid">
        {% if saved_pins %}
          {% for pin in saved_pins %}
            <a href="{% url 'specific' pin.id %}">
              <div class="down-box" style="background-image: url('{{ pin.image_url }}');"></div>
            </a>
          {% endfor %}
        {% else %}
          <p class="nopins">No saved pins yet.</p>
        {% endif %}
      </div>
    
    
      <div id="created-pins" class="pin-grid" style="display: none;">
        {% if created_pins %}
          {% for pin in created_pins %}
            <a href="{% url 'specific' pin.id %}">
              <div class="down-box" style="background-image: url('{{ pin.image_url }}');"></div>
            </a>
          {% endfor %}
        {% else %}
          <p class="nopins">No created pins yet.</p>
        {% endif %}
      </div>
    </div>

    <script>
      const toggleBtn = document.getElementById("created");
      const savedPins = document.getElementById("saved-pins");
      const createdPins = document.getElementById("created-pins");
    
      let showingCreated = false;
    
      toggleBtn.addEventListener("click", function () {
        if (!showingCreated) {
          savedPins.style.display = "none";
          createdPins.style.display = "grid"; 
          toggleBtn.textContent = "Show Saved Pins";
          toggleBtn.style.backgroundColor = "green";
          toggleBtn.style.color = "white";

        } else {
          savedPins.style.display = "grid";
          createdPins.style.display = "none";
          toggleBtn.textContent = "Show Created Pins";
          toggleBtn.style.backgroundColor = "";
          toggleBtn.style.color = "";

        }
        showingCreated = !showingCreated;
      });
    </script>
    
   
  </body>
</html>