body {
  margin: 0;
  padding: 0;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5.2rem;
  z-index: 10;
  border-right: 1px solid rgb(185, 178, 178);
}
.icons {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  margin-left: 5.2rem;
}

.search {
  position: fixed;
  top: 0;
  left: 5.2rem;
  height: 4.5rem;
  width: calc(100% - 5.2rem);
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
  margin-left: 1rem;
  background-color: white;
}

.pics {
  margin-top: 4.5rem;
  padding: 0.5rem;
  min-height: calc(100vh - 4.5rem);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.8rem;
  row-gap: 2rem;
  margin-left: 0.5rem;
}

.box {
  height: 27rem;
  width: 14rem;
  border-radius: 0.8rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.box:hover {
  filter: blur(0.2px) brightness(0.7);
  transform: scale(1.02);
}

.input {
  height: 3rem;
  width: 93%;
  border: none;
  background-color: rgb(232, 226, 226);
  border-radius: 0.8rem;
  color: black;
  font-size: larger;
  padding: 1rem;
}
.letter {
  height: 75%;
  width: 3rem;
  background-color: rgb(76, 113, 70);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
#user {
  height: 100%;
  width: 5%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  cursor: pointer;
  font-size: 1.5rem;
}

#create {
  cursor: pointer;
  font-size: 1.5rem;
}
#explore {
  cursor: pointer;
  font-size: 1.5rem;
}
#bell {
  cursor: pointer;
  font-size: 1.5rem;
}
#msg {
  cursor: pointer;
  font-size: 1.5rem;
}
.logo {
  background-image: url('../images/logo_copy.webp');
  height: 3rem;
  width: 3rem;
  background-size: cover;
  cursor: pointer;
  background-position: center;
}
#logout {
  margin-top: 1rem;
  height: 2.8rem;
  width: 100%;
  background-color: red;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
#logout:hover {
  background-color: rgb(128, 22, 22);
}
.search a {
  display: flex;
  width: 5.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
  text-decoration: none;
}
#search-form{
  width: 100%;
}
.input{
  width: 100%;
}

/* for create post */
.create-main {
  height: 65vh;
  width: 50%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
  margin-left: 23rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-header {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-pin {
  background-color: red;
  color: white;
  border-radius: 1rem;
  border: none;
  width: 7rem;
  margin-top: 4rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.create-pin:hover {
  background-color: rgb(130, 24, 24);
}
#create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#url {
  width: 35rem;
  border-radius: 1.5rem;
  border: 2px solid gainsboro;
  height: 3rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
#url:focus {
  outline-color: blue;
}
.flash-msg {
  height: 6vh;
  width: 50%;
  margin-top: 5rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash-msg h5 {
  color: blue;
}

/* for follow  page */

.follow-container {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  min-height: 60vh;
  width: 55vh;
  margin-top: 6rem;
  margin-left: 6rem;
}
.follow-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-main {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-card {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  margin-bottom: 0.5rem;
}
.user-icon {
  border-radius: 50%;
  background-color: green;
  height: 80%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 0.3rem;
}
.follow-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-btn {
  height: 80%;
  width: 100%;
  border-radius: 1.2rem;
  border: none;
  background-color: rgba(30, 30, 152, 0.777);
  color: white;
  justify-self: flex-end;
}

#follow-form {
  height: 3rem;
  width: 8vh;
}

.custom-alert {
  background-color: #d1e7dd; /* success color by default */
  color: #0f5132;
  border: 1px solid #badbcc;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 10px auto;
  width: fit-content;
  max-width: 90%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
  animation: fadeOut 0.5s ease 2.5s forwards;
}

.alert-error {
  background-color: #f8d7da;
  color: #842029;
  border-color: #f5c2c7;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .side {
    position: fixed;
    top: 95.5%;
    width: 100%;
    height: 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pics {
    margin-top: 4rem;
    margin-left: 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .main {
    margin-left: 0rem;
    margin-top: 0.2rem;
  }
  .box {
    height: 25rem;
    width: 11.5rem;
  }
  .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  #logout {
    display: none;
  }
  .search {
    margin-left: 0;
    width: 98%;
    left: 0;
  }
  #user{
    width: 20%;
  }
  .input{
    margin-left: 0.2rem;
  }
  .follow-container{
    margin-top: 5rem;
    margin-left: 0;
    width: 85%;
    box-shadow: none;

  }
  .user-card{
    width: 100%;
    margin-left: 0.2rem;
  }
  .flash-msg{
    display: none;
  }
  .create-main{
    margin: 0 auto;
    
    margin-top: 6rem;
    width: 90%;
  }
  #url{
    width:98%;
    padding-left: 0.8rem;
  }
  #create-form{
    width: 85%;
  }
}
